<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/dashboard.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img
            src="https://media.glassdoor.com/sqll/5450364/nerdpine-squarelogo-1645160502959.png"
          />
        </div>
        <div class="items">
          <a href="/">Home</a>
          <a href="/dashboard">Contact</a>
          <a href="/upload">Gallery</a>
          <a href="/weather">Weather</a>
        </div>

        <div class="other">
          <a style="text-decoration: none" href="/logout"
            ><button>Log out</button></a
          >
        </div>
      </nav>
    </header>

    <!-- Hero Section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="info">
            <h2 class="hero-heading">Why Choose NerdPine Solutions?</h2>
            <br>
          <br>
          <br>
          <br>
            <h4 >
              To Unlock new opportunities, boost productivity, enhance human
              creativity, & amplify revenue. We embed AI capabilities in our
              software solutions to enable your employee to do less with more.
              Our AI technologies support a diverse environment and offer our
              clients intelligent automated solutions at ease.
            </h4>
          <br>
          <br>
          <br>
          <br>
          <img width="100%"  src="./images/subBanner.jpg">
        </div>
      </div>
    </section>
  </body>
</html>
